.cont {
  display: flex;
  flex-direction: row;
  height: 700px;
}
.adicional{
  width: 300px;
  height: 60px;
}
.palet{
  width: 200px;
  height: 60px;
  margin-left: 18%;
}
#inv1{
  display: none;
}
@media (min-width: 1800px) and (max-width: 3000px) {
  .cont {
    display: flex;
    flex-direction: row;
    height: 50rem;
  }
  .presentacion {
    margin-top: 30px;
    margin-left: 75px;
    width: 45rem;
  }
  .foto {
    height: 12rem;
  }
}
@media (max-width: 320px) {
  .adicional{
    margin-top: 20px;
    width: 12rem;
    height: 6rem;
  }
  .cont {
    display: flex;
    flex-direction: row;
    height: 50rem;
  }
  .palet{
    margin-left: 10px;
  }
  .presentacion {
    margin-top: 10px;
    margin-left: 10px;
    width: 230px;
  }
  .foto {
    height: 12rem;
  }
}
@media (max-width: 1120px) {
  .adicional{
    margin-top: 20px;
    width: 15rem;
    height: 6rem;
  }
  .cont {
    display: flex;
    flex-direction: row;
    height: 66rem;
  }
  .presentacion {
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
  }
  
  .quote{
    margin-left: 99%;
  }
  .foto {
    height: 12rem;
  }
}